<div id="setup-box-source-list" class="setup-box setup-box-medium add-top animated bounceInUp add-bottom">
  <div class="clearfix">
    <h2 class="left"><span class="icon-inbox"></span> {{_("Mail Sources")}}</h2>
    <a href="#sources/add" id="btn-setup-show-add-source" class="button-primary right"><span class="icon-plus"></span> {{_("Add Source")}}</a>
  </div>
  <ul id="setup-sources-list-items" class="setup-list-items"></ul>
  <div id="setup-profiles-list-buttons" class="clearfix">
    <a href="#profiles" class="button-secondary left">{{_("Previous")}}</a>
    <div id="setup-profiles-next" class="right">
      <a id="btn-setup-sources-next" href="#complete" class="button-primary hide">{{_("Next")}}</a>
      <em id="setup-sources-not-configured" class="hide"></em>
      <em id="setup-sources-next-state">{{_("Analyzing sources...")}} <img src="/static/css/select2-spinner.gif"></em>
    </div>
  </div>
</div>